 
        
            <section id="contact">
    
                <h1 class="section-header">About us</h1>
    
                <div class="contact-wrapper">
    
                    <!-- Left contact page -->
                    <div class="shop">
                        <img src="https://th.bing.com/th/id/R.103a34e555b442e5dd024347aa7b1d3a?rik=uqtllAHX8j07nA&pid=ImgRaw&r=0">
                    </div>
    
                    <!-- Left contact page -->
    
                    <div class="direct-contact-container">
    
                        <p class="about_text"> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor neque vitae tempus quam pellentesque. Fames ac turpis egestas sed tempus urna et pharetra. Morbi tristique senectus et netus et. Sagittis vitae et leo duis ut diam quam nulla. Non diam phasellus vestibulum lorem. Morbi tincidunt augue interdum velit euismod. Enim facilisis gravida neque convallis a. Ac tincidunt vitae semper quis lectus nulla at volutpat diam. Molestie nunc non blandit massa enim nec dui. Ut faucibus pulvinar elementum integer.
                        </p>
                        <hr>
                        <ul class="social-media-list">
                            <li><a href="#" target="_blank" class="contact-icon">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#" target="_blank" class="contact-icon">
                                    <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#" target="_blank" class="contact-icon">
                                    <i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                        <hr>
    
                    </div>
    
                </div>
            </section>
    
        
    
