
.head_title{
    background-image: url("https://th.bing.com/th/id/R.a3d417b04908132e6a8339076746cdac?rik=Yt20ypRK5aRuZw&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f82%2f77%2fuYsL97.png&ehk=dSYMDIr1TXVnEeNs14T9Va%2bGxcRweT3MqvY%2fKdj2DJ4%3d&risl=&pid=ImgRaw&r=0");
    width: 100%;
    list-style: none;
    opacity: 70%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-size: cover;
    background-position: top center;
    padding: 15px;
}

fieldset {
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: 0;
}

.head_title form legend {
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin-bottom: 59px;
}
.head_title form .inner-form {
    width: 75%;
    margin-bottom: 17px;
}

.head_title form .inner-form .input-field {
    margin-bottom: 20px;
    height: 30px;
}
.head_title form .inner-form .input-field input {
    height: 50%;
    border: 0;
    background: #fff;
    display: block;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    color: rgb(171, 171, 171);
    border-radius: 34px;
    width: 100%;
}

.head_title form .inner-form .input-field {
    height: 70px;
    width: 100%;
    position: relative;
}

.head_title form .inner-form .input-field .btn-search {
    width: 70px;
    position: absolute;
    left: 0;
    height: 75%;
    background: 0 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_div{
    text-align: left;
    padding: 20px;
    font-size: 30px;
}

.components{
    margin-top: 10px;
    background-color: rgb(0 0 0 / 2%);
    
}

.row_filter-list{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.text_filters{
    position: relative;
    padding: 15px 20px 1px 30px;
}
.filter__categories__all span {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.filter__categories ul {
	border: 1px solid #ebebeb;
	padding-left: 40px;
	padding-bottom: 12px;
}

.filter__categories ul li { 
	list-style: none;
}

.filter__categories ul li a {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
	display: block;
    text-decoration: none;
    background-color: transparent;
}

mat-slider {
    width: 50%;
}
#slider-range .ui-slider-range {
    background-color: #3f51b5;
}
.slider_range{
    padding-left: 40px;
	padding-bottom: 12px;
}
.list_products{
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}