<div class="body_image">

    
        <section id="contact">

            <h1 class="section-header">Let's talk</h1>

            <div class="contact-wrapper">

                <!-- Left contact page -->
                <div class="shop">
                    <img src="https://w3.ual.es/congresos/GDRETA/images/center.jpg">
                </div>

                <!-- Left contact page -->

                <div class="direct-contact-container">

                    <ul class="contact-list">
                        <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Almería,
                                    España</span></i></li>

                        <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                                        href="tel:1-212-555-5555" title="Give me a call">(34) 555-2368</a></span></i>
                        </li>

                        <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                                        href="mailto:skeakers@gmail.com" title="Send me an email">skeakers@gmail.com</a></span></i></li>

                    </ul>

                    <hr>
                    <ul class="social-media-list">
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <hr>

                </div>

            </div>
        </section>

    

</div>
