<div class="product-card-cart-container">
  
    <div class="container">
    
      <div class="product-card-cart-container-inner mt-4 pt-4">
      
        <div class="product-card-cart">
            
            <a href="#" class="product-card-cart-link">
              <img src="{{product.image}}" alt="">
            </a>
          
            <div class="list-group list-group-flush product-card-cart-content">
              
              <div class="product-card-cart-content-name-price list-group-item">
                <div class="product-card-cart-content-name">{{product.name}}</div>
                <span class="product-price">
                    <b>{{product.price}}€</b>
                </span>  
            </div>

            <div class="product-card-cart-content-description">{{product.description}}</div>
          
              <div class="product-card-cart-content-size list-group-item">
                <div>Size: </div>
                <span class="badge bg-secondary">{{product.size}}</span>
              </div>
              <div class="product-card-cart-content-remove list-group-item">
                <div id="price">
                    <button (click)="viewProd()"><mat-icon fontIcon="visibility"></mat-icon></button>
                    <button (click)="deleteProd()"><mat-icon fontIcon="delete"></mat-icon></button>   
                </div>
              </div>
            </div>
          
         </div>
        
      </div>
    
    </div>
      
  </div>