
.product-card-cart-container-inner {


    align-items: center;
    flex-wrap: wrap;
    gap: 0.725rem;
    transition: all 0.5s ease; /* Can Be Removed*/
    height: 100%;
    flex-direction: column;
}

.product-card-cart, .product-card-cart > * {
  transition: all 0.6s ease;
}

.product-card-cart {
  display: flex;
  border-radius: 8px;
  box-shadow: 0 7px 25px -10px rgba(0,0,0,0.33);
  height: 240px;
  background-color: #f3f3f3;
}

.product-card-description {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 7px 25px -10px rgba(0,0,0,0.33);
    width: 460px;
    max-width: 620px;
    height: 240px;
    background-color: #f3f3f3;
  }

.product-card-cart-link {
  padding: 10px;
}

.product-card-cart-link img {
  width: 180px;
  height: 215px;
  object-fit: cover;
  object-position: center 32%;
  border-radius: 8px;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
}

.product-card-cart-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
}

.product-card-cart-content > * {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500!important;
    color: #000000;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    row-gap: 0.5rem;
    align-items: center;
    padding: 0.5rem!important;
}

.product-card-cart-content-name {
  text-transform: uppercase;
}

@media (max-width: 440px) {
    
  .product-card-cart-content > * {
    font-size: 17px;
  }
  
  .product-card-cart {
     flex-direction: column;
     width: 100%;
    height: 100%;
  }
  
  .product-card-cart-link img {
     width: 100%;
  }
}

#price{
    display:flex;
    align-items:center;
    justify-content:center;
  }

#price{
    display:flex;
    align-items:center;
    justify-content:center;
}

#price button:hover{
    transition:0.3s;
    margin-left:2vw;
    margin-right:2vw;
    transform:scale(1.3);
    cursor:pointer
  }

#price button{
    margin:2vw 1vw 2vw 0vh;
    height:40px;
    width:80px;
    font-size:2.8vh;
    font-family:Arial;
    font-weight:Regular;
    background-color:#345e82;
    border:none;
    outline:none;
    color:white;
    border-radius:10px;
    transition:0.3s
  }

.product-price {
    right:  17px;
    top: 20px;
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: -13px;
    margin-left: -5px;
    box-shadow: -10px 20px 15px -10px rgba(83, 85, 83, 0.3);
  }
