<div class="body">
    <h1 class="section-header">Delete Account</h1>

    <!-- Left contact page -->
    <div class="delete">
        <p class="delete_text">To delete your account we need to verify the following:
        There are no outstanding payments or refunds. The entire balance of your gift cards has been used. All orders have been delivered.
        Before deleting your account, make sure you have saved information about your orders (warranties, etc.). You can always contact us, but we will not have access to this information and we will need you to give it to us. </p>
        <button class="button-28-del" role="button" (click)="deleteAccount()">Delete Account</button>
        <button class="button-28" role="button" (click)="goBack()">Cancel</button>
    </div>
</div>
    
