<mat-form-field appearance="fill">
    <mat-label>Size</mat-label>
    <mat-select [formControl]="sizes" multiple>
      <mat-select-trigger>
        {{sizes.value?.[0] || ''}}
        <span *ngIf="(sizes.value?.length || 0) > 1" class="example-additional-selection">
          (+{{(sizes.value?.length || 0) - 1}} {{sizes.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let si of sizeList" [value]="si">{{si}}</mat-option>
    </mat-select>
  </mat-form-field>