/* .navMenu situado a la derecha del todo y .navTitle situado a la izquierda del todo */

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* .menuDropDown es el menú desplegable que aparece al hacer click en el botón de menú y se sitúa debajo de .navMenu */

.menuDropDown {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}