<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <h1 class="navTitle">DWM - Sneaker Shop</h1>

          <div class="navMenu">
            <a mat-button [routerLink]="'/'"> <mat-icon aria-hidden="false" aria-label="Cart icon" fontIcon="home"></mat-icon> </a>
            <!-- Aqui habra un IF para si está logged in se muestre el icono del perfil y si no el iniciar sesión-->
            <!-- Será un dropdown menu => si está iniciada la sesión tendrá tres enlaces: Perfil, Mis compras, Mis ventas y Cerrar sesión -->
            <div *ngIf="isLogged">
                <button mat-button [routerLink]="'/shopping-cart'"  class="btn btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-cart" >
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                  </button>

                <button mat-button [matMenuTriggerFor]="menu"> Menu </button>
                <mat-menu #menu="matMenu" class="menuDropDown">
                    <button mat-menu-item [routerLink]="'/profile'"> Perfil </button>
                    <button mat-menu-item (click)="logOut()"> Cerrar sesión </button>
                </mat-menu>
            </div>
    
            <!-- => Si no está iniciada sesión será un dropdown menu con un formulario para iniciar sesión y un enlace para registrarse debajo del botón de iniciar sesión-->

           <div *ngIf="!isLogged">
            <button mat-button [matMenuTriggerFor]="menu"> Menu </button>
            <mat-menu #menu="matMenu" class="menuDropDown">
                <button mat-menu-item (click)="openLoginDialog()"> Iniciar sesión </button>
                <button mat-menu-item (click)="openSignupDialog()"> Registrarse </button>
            </mat-menu>
           </div>
      
          </div>
        </mat-toolbar-row>
    </mat-toolbar>
</p>