<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <h1 class="navTitle">DWM - Sneaker Shop</h1>

          <div class="navMenu">
            <a mat-button [routerLink]="'/'"> <mat-icon aria-hidden="false" aria-label="Cart icon" fontIcon="home"></mat-icon> </a>
            
            <div *ngIf="isLogged">
                <button mat-button [routerLink]="'/shopping-cart'" class="btn btn-outline-secondary"><mat-icon aria-hidden="false" aria-label="cart" fontIcon="shopping_cart"></mat-icon></button>
                <button mat-button [routerLink]="'/profile'"><mat-icon aria-hidden="false" aria-label="person" fontIcon="person"></mat-icon> {{usr}} </button>
                <button mat-button (click)="logOut()"><mat-icon aria-hidden="false" aria-label="logout" fontIcon="logout"></mat-icon></button>
            </div>
    
            <!-- => Si no está iniciada sesión será un dropdown menu con un formulario para iniciar sesión y un enlace para registrarse debajo del botón de iniciar sesión-->

           <div *ngIf="!isLogged">
                <button mat-button (click)="openLoginDialog()"> Iniciar sesión </button>
                <button mat-button (click)="openSignupDialog()"> Registrarse </button>
           </div>
      
          </div>
        </mat-toolbar-row>
    </mat-toolbar>
</p>