<head>
	<title>Shopping Cart UI</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<div class="CartContainer">
	<div class="Header">
		<h3 class="Heading">Checkout</h3>
		<h5 class="Action" (click)="emptyCart()">Empty the cart</h5>
	</div>
	<mat-grid-list cols="1" *ngFor="let venta of cart; index as i; first as isFirst">
		<app-product-card-cart [product]="venta"></app-product-card-cart>
	</mat-grid-list>
	
	<hr> 
	<div class="checkout">
		<div class="total">
			<div>
				<div class="Subtotal">Total amount</div>
				<div class="items">{{getNumberOfItems()}} items</div>
			</div>
			<div class="total-amount">{{getAmoutToPay()}}€</div>
		</div>
		<button class="button" (click)="confirmPayment()">Confirm payment</button>	
	</div>
</div>
