<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart UI</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<body>
   <div class="CartContainer">
   	   <div class="Header">
   	   	<h3 class="Heading">Cesta</h3>
   	   	<h5 class="Action">Eliminar todo</h5>
   	   </div>

      
   	 <hr> 
   	 <div class="checkout">
   	 <div class="total">
   	 	<div>
   	 		<div class="Subtotal">Sub-Total</div>
   	 		<div class="items">2 items</div>
   	 	</div>
   	 	<div class="total-amount">6.18€</div>
   	 </div>
   	 <button class="button">Checkout</button></div>
   </div>
</body>
</html>