
        <main class="container">
 
            <!-- Left Column / Headphones Image -->
            <div class="left-column">
                <img  id="image_product"src="{{prodData.image}}" width="512px" height="348px" alt="No se ha encontrado la imagen">        
            </div>
           
           
            <!-- Right Column -->
            <div class="right-column">
           
              <!-- Product Description -->
              <div class="product-description">
                <span class="name_product">{{prodData.name}}</span>
                <p class="dataLabel">{{prodData.description}}</p>
                <p><span class="names">Size:</span> {{prodData.size}}</p>
                <p><span class="names">Status:</span> {{prodData.status}}</p>
              </div>
           
           
              <!-- Product Pricing -->
              <div class="product-price">
                <span>{{prodData.price}}€</span>
                <div>
                    <button class="cart-btn" (click)="addToCart()">Add to cart</button>
                </div>
              </div>
            </div>
          </main>
    
        <div class="featuredList">
             <h2>Related products</h2>
             <div>
                <mat-grid-list cols="3" *ngFor="let prod of relatedProducts; index as i; first as isFirst">
                    <app-product-card [product]="prod" [parent]="'listaProductos'"></app-product-card>
                </mat-grid-list>
             </div>
        </div>