.footer {
    padding: 19px 15px 20px;
    position: relative;
    right: 0;
    color:  #98a6ad;
    background-color: #3f51b5;
    box-shadow: 0 0 1px rgba(50,58,70,.1);
}
.links{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.links a {
    color:  #98a6ad;
    margin-left: 1.5rem;
    text-decoration: none;
    cursor: pointer;
        
}
.info{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.datos{
    font-size: 14px;
    margin: 0;
}